import re
from collections import namedtuple

__author__ = '${author}'
__copyright__ = '\xa9 ${year}, ' + __author__
__version__ = '0.1.0'

_v = re.search('(\d+).(\d+).(\d+)[.-]?(.*)', __version__).groups()

version_info = namedtuple('version_info', 'major minor micro releaselevel')(int(_v[0]), int(_v[1]), int(_v[2]), _v[3])
""":obj:`~collections.namedtuple`: Contains the version information as a (major, minor, micro, releaselevel) tuple."""
